.break-list li {
    width: 34%;
    float: left;
    margin-right: 8%;
}

.x-small {
    font-size: 50%;
}

.banner {
    background-image: url(../img/BannerNoText.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}

.bannerText {
    padding-left: 25%;
    padding-right: 25%;
    border: 3px solid lightgray;

}

.blacks {
    background-color: black;
}

.shopping-item {
  float: none;
  margin-bottom: 20px;
  margin-top: 5px;
  text-align: center;
  background-color:rgba(211,211,211,0.5);
  border-radius:4%;
}

.insta_widget {
    border: none;
    overflow: hidden;
    width: 70%;
}

.row-margin {
    margin: 2%;
}

.aboutUs {
    margin: 0 auto;
}

.padding {
    padding: 2em;
}

.usermenu {
    margin: 1em;
    background-color: ghostwhite;
}

.administration {
    margin-top: 5em;
}

.subscribe_button {
    margin-top: 1em;
    text-align:center;
    font-size: 1.5em;
    width: 80%;
    background: none repeat scroll 0 0 #1abc9c;
    border: medium none;
    color: #fff;
    padding: 0.375em 1.563em;
    display: inline-block;
}

    .subscribe_button:hover {
        background-color: #222;
        color: #fff;
        text-decoration: none;
    }

#emailAddress {
    width: 100%;
}

#guide {
    /*83,5*/
    display: none;
    left: auto;
    right: 29.5em;
    top: 5.5em;
    position: absolute;
    z-index: 99999;
    width: 23em;
    padding: 1em;
    background-color: #ffffff;
    border: 1px solid #E6E5E6;
    text-align:center;
    border-radius: 2em;
}

.newsInfo {
    margin-bottom:0em;
    margin-top: 0.5em;
    font-size: 1.7em;
}

.address {
    font-size: 2em;
}