<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="wizzAppServer.Properties.Settings.dmaa0914_Spec14Games_1ConnectionString" connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaa0914_Spec14Games_1;Persist Security Info=True;User ID=dmaa0914_Spec14Games_1;Password=Marco19_heck" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>