ErrorDocument 400 /Error.aspx
ErrorDocument 401 /Error.aspx
ErrorDocument 402 /Error.aspx
ErrorDocument 403 /Error.aspx
ErrorDocument 404 /Error.aspx
ErrorDocument 404.0 /Error.aspx
ErrorDocument 405 /Error.aspx
ErrorDocument 406 /Error.aspx
ErrorDocument 407 /Error.aspx
ErrorDocument 408 /Error.aspx
ErrorDocument 409 /Error.aspx
ErrorDocument 410 /Error.aspx
ErrorDocument 411 /Error.aspx
ErrorDocument 412 /Error.aspx
ErrorDocument 413 /Error.aspx
ErrorDocument 414 /Error.aspx
ErrorDocument 415 /Error.aspx
ErrorDocument 416 /Error.aspx
ErrorDocument 417 /Error.aspx
ErrorDocument 418 /Error.aspx
ErrorDocument 421 /Error.aspx
ErrorDocument 422 /Error.aspx
ErrorDocument 423 /Error.aspx
ErrorDocument 424 /Error.aspx
ErrorDocument 426 /Error.aspx
ErrorDocument 428 /Error.aspx
ErrorDocument 429 /Error.aspx
ErrorDocument 431 /Error.aspx
ErrorDocument 451 /Error.aspx
ErrorDocument 501 /Error.aspx
ErrorDocument 502 /Error.aspx
ErrorDocument 503 /Error.aspx
ErrorDocument 504 /Error.aspx
ErrorDocument 505 /Error.aspx
ErrorDocument 506 /Error.aspx
ErrorDocument 507 /Error.aspx
ErrorDocument 508 /Error.aspx
ErrorDocument 510 /Error.aspx
ErrorDocument 511 /Error.aspx
