<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="dmaa0914_Spec14Games_1ConnectionString" connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaa0914_Spec14Games_1;Persist Security Info=True;User ID=dmaa0914_Spec14Games_1;Password=Marco19_heck" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Error.aspx"/>
    <authentication mode="Forms">
      <forms name="myformssecurity" loginUrl="LogIn.aspx" defaultUrl="/LoggedIn/Account.aspx" protection="All" path="/" timeout="30"/>
    </authentication>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IwizzService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://178.157.216.170:8733/WCFwizzGames/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwizzService"
        contract="ServiceReference1.IwizzService" name="BasicHttpBinding_IwizzService" />
    </client>
  </system.serviceModel>
</configuration>